@use "/src/sass/base/variables.scss" as *;
.activities {
  padding-top: 60px;
  &__wrapper {
    margin-top: 20px;
    row-gap: 40px;
  }
  &__img {
    width: 100%;
    margin-top: 40px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }
  &__text {
    margin-block-start: 20px;
    font-weight: 400;
    font-size: 16px;
    color: $dark;
    line-height: normal;
    &_colored {
      font-weight: 500;
      color: $ceramic;
    }
  }
}

@media screen and (min-width: 768px) {
  .activities {
    padding: 60px 95px 0 95px;
    &__wrapper {
      margin-top: 40px;
    }
    &__text {
        margin-block-start: 25px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .activities {
    &__col {
      padding: 0 10px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .activities {
    padding: 60px 0px 0 0px;
    &__wrapper {
      margin-top: 80px;
    }
    &__col {
      padding: 0 10px;
    }
    &__img {
      margin-top: 60px;
    }
    &__text {
      &_fixed {
        inline-size: 556px;
      }
    }
  }
}
@media screen and (min-width: 1920px) {
  .activities {
    padding-top: 100px;

  }
}
