@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;
.blog {
  padding-top: 50px;
  &__title {
    margin-top: 60px;
  }
  &__title-h3 {
    text-align: left;
  }
  &__wrapper {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  &__card {
    border: 1px solid $dark;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background: $light;
  }
  &__data {
    &_column {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 25px 25px 0 25px;
    }
  }

  &__text {
    margin-top: 25px;
    padding: 0 25px 25px 25px;
    font-weight: 400;
    font-size: 16px;
    color: $dark;
  }
  &__img {
    max-inline-size: calc(100% + 2px);
    transform: translateX(-1px) translateY(-1px);
  }
}
@media screen and (min-width: 768px) {
  .blog {
    &__wrapper {
      padding: 25px 25px 0 25px;
      position: relative;
      @include angle-decoration;
    }
    &__text {
      margin-top: 15px;
    }
    &__data {
      &_column {
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .blog {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      margin-top: 87px;
    }
    &__card {
      height: fit-content;
    }
  }
}
@media screen and (min-width: 1920px) {
  .blog {
    &__wrapper {
      margin-top: 100px;
      margin-bottom: 50px;
    }
  }
}
