@use "/src/sass/base/variables.scss" as *;

.catalog {
  padding-top: 50px;
  &__desc__wrapper {
    border-left: 1px solid $dark;
    border-right: 1px solid $dark;
    border-bottom: 1px solid $dark;
    padding: 8px 0 8px 0;
  }

  &__title {
    margin-top: 60px;
  }
  &__tabs {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;
    column-gap: 50px;
    margin-top: 60px;
    border: 1px solid $dark;
    padding: 13px 35px;
  }
  &__tab {
    position: relative;
    border: none;
    background: none;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    &_active::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      bottom: -1px;
    }
  }
  &__card {
    border: none;
    width: 100%;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    background: $light;
    font-weight: 500;
    font-size: 16px;
    color: #000;
  }
  &__content_wrapper {
    margin-top: 60px;
    padding: 0 10px 0 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    img {
      width: 100%;

      display: block;
    }
    p {
      margin-top: 11px;
      margin-bottom: 8px;
      margin-left: 12px;
    }
    span {
      margin-left: 12px;
    }
  }

  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .catalog {
    &__content_wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 24px 0 24px;
    }
    &__card:first-child {
      position: relative;
    }
    &__card:first-child::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;

      width: 200px;
      height: 200px;

      border-top: 3px solid #000;
      border-left: 3px solid #000;

    }
    &__tabs {
      margin: 60px 276px 0 24px;
      width: 459px;

      flex-wrap: nowrap;
      padding: 25px 13px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .catalog {
    &__content_wrapper {
      margin-top: 85px;
      grid-template-columns: repeat(3, 1fr);
      padding: 0 24px 0 24px;
    }
    &__card:first-child::before {
      top: -25px;
      left: -25px;
    }
  }
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1920px) {
  .catalog {
    &__content_wrapper {
      margin: 85px auto 0 auto;
      grid-template-columns: repeat(4, 1fr);
      gap: 83px;
      padding: 0 265px;
    }
    &__tabs {
      margin-left: 240px;
    }
  }
}
