@use "/src/sass/base/variables.scss" as *;

.footer {
  width: 100%;
  height: 100%;
  background-color: $dark;

  &__wrapper {
    padding: 50px 10px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__news {
    color: $light;
    .title-h2 {
      width: 102px;
      height: 19px;
      color: $light;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  &__paragraf {
    margin-top: 40px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 292px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
  }
  &__label {
    background-color: $dark;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 40px;
    width: 293px;
    height: 32px;
  }
  &__inputblock {
    display: flex;
    flex-direction: column;
  }
  &__check-block {
    margin-top: 20px;

    a {
      color: #a22dc6;
      text-decoration: none;
      margin-left: 4px;
    }
  }

  &__btn {
    margin-top: 20px;
    width: 90px;
    height: 40px;
    background-color: $dark;
    color: $light;
    text-transform: uppercase;
    border-color: $light;
    font-weight: 400;
    font-size: 16px;
  }
  &__btn:hover{
     background-color: rgb(67, 61, 61);
   }
  &__nav {
    display: flex;
    gap: 66px;
    flex-wrap: wrap;
    a{
      text-decoration: none;
    }
    h2 {
      margin-top: 40px;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: $light;
    }
    span {
      margin-top: 59px;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      color: $light;
    }
  }
  &__information {
    margin-top: -19px;
  }
  &__follow {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: $light;
  }
  &__icons {
    margin-top: 40px;
    display: flex;
    gap: 10px;
  }
  &__copy {
    margin: 40px 0px 50px 79px;
    font-weight: 400;
    font-size: 14px;
    color: $light;
  }
}

#discover__blog {
  margin-top: 20px;
}
@media screen and (min-width: 449px) {
  .footer__information {
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 24px;
  }
  .footer__news{
    margin-top: 50px;
  }
  .footer__copy {
    margin: 0 auto 0 auto;
    text-align: center;
  }
  .footer__wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px){
  .footer__wrapper__whole{
    display: flex;
    flex-direction: row;
  }
  .footer__wrapper{
    padding-left: 164px;
    padding-top: 0px;
  
  }
}
@media screen and (min-width: 1920px){
   .footer__wrapper__whole{
    padding-left: 240px;
    margin-top: 80px;
  }
}
