.promo {
  position: relative;
  padding-top: 50px;
  &__wrapper {
    margin-top: 50px;
  }
  &__title {
    padding-inline: 5px;
  }
  &__cta {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  &__img {
    margin: 0 auto;
    width: 270px;
    height: 377px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
  }
  &__btn {
    margin: 18px auto 0 auto;
  }
  &__potter {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .promo {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__cta {
      margin-top: 0px;
      
    }
    &__img {
      width: 230px;
      height: 321px;
    }
    &__title {
      padding-inline: 0px;
      padding-top: 250px;
      padding-left: 71px;
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .promo {
    &__potter {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: clamp(450px, 37.5vw, 640px);
      object-fit: cover;
      height: 633px;
    }
    &__title {
      padding-left: 41.6875rem;
    }
    &__cta{
      animation-name: slideIn;
      animation-duration: 3s;
    }
  }
}

@keyframes slideIn {
  0%{
transform: translateX(100%);
  }
 
  100%{
transform: translateX(0%);

  }
}

@media screen and (min-width: 1920px) {
  .promo{
    padding-top: 40px;
    &__wrapper{
      margin-top: 79px;
    }
    &__img{
      width: 330px;
      height: 460px;
    }
     &__btn {
    margin: 50px auto 0 auto;
  }
   &__title {
      padding-left: 642px;
      padding-top: 384px;
    }
      &__potter {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 900px;
    }
  }
}
