@use "/src/sass/base/variables.scss" as *;
.touch {
  padding-top: 60px;
  .just-validate-error-field{
     border: none;
      outline: 1px solid $ui-error;
  }
  &__form {
    width: 340px;
  }

  &__wrapper {
    display: flex;
    margin-top: 60px;
position: relative;
}
&__img {
  display: none;
}
&__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
&__label {
  width: 340px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $dark;
  &:nth-child(2) {
    margin-top: 8px;
  }
}
&__decor {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 120px;
  height: auto;
}
&__input {
  width: 100%;
  height: 48px;
  padding: 10px 15px;
  color: $dark;
  border: 1px solid #e2e1e5;
  border-radius: 2px;
  &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
    }
  }
  &__textarea {
    width: 100%;
    height: 132px;
    padding: 10px 15px;
    color: $dark;
    border: 1px solid #e2e1e5;
    border-radius: 2px;
    background: #fff;
    resize: none;
    &:focus {
      border: none;
      outline: 1px solid $dark;
    }
    &::placeholder {
      color: $ui-disabled;
      font-size: 14px;
    }
  }
  &__check-block {
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: #a22dc6;
      text-decoration: none;
      margin-left: 4px;
    }
  }
  &__checkbox {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
  &__btn {
    margin-top: 20px;
    align-self: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .touch {
    position: relative;
    &__decor {
      display: block;
    }
    &__form {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 300px;
    }
    &__label {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .touch {
    &__img {
      display: block;
      width: 550px;
      height: 342px;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    &__textarea {
      &:hover {
        border: none;
        outline: 1px solid $dark;
      }
    }
    &__input {
      &:hover {
        border: none;
        outline: 1px solid $dark;
      }
    }
    &__form {
      padding-left: 20px;
    }
  
  }
}


@media screen and (min-width: 1920px) {
  .touch {
    padding-top: 100px;
    &__img {
      width: 100%;
      height: 356px;
    }
    &__form {
      width: auto;
      padding-left: 143px;
    }
    &__fieldset {
      display: flex;
      column-gap: 45px;
    }
    &__label,
    &__check-block,
    &__input,
    &__textarea {
      width: 300px;
    }
    &__decor {
      right: 75px;
    }
  }
}
